<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Digital Wellness Dashboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Enable PWA manifest for installable apps -->
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Includes all stylesheet files in app/assets/stylesheets -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktNYc2qw6pMwxlWoht1JyOVGM+cG9EdZy+gkha7g9" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'layouts/boot' %>
    <%= render 'layouts/navbar' %> <!-- Shared Navbar -->
    <%= yield %>

    <!-- Bootstrap Bundle (includes Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76A2E01EOBVxAc1H6mfbjSNKCtdcqz9UG7Cl8JzBHeEo1I0p5w4ANzoo0zg7BOz" crossorigin="anonymous"></script>
  </body>
</html>
